<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
</style> 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FAF2F0;

}
header {
    background: white;
    padding: 20px;

}

header > h1 {
    color: #f799b2;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    font-size: 40px;

}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}


.score-board {
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto;
    color: #E470FF;
    font-size: 33px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    position: relative;
}

.badge {
 background-color: #f799b2;
 color: white;
 font-size: 15px;
 padding: 2px 10px;
 font-family: 'Montserrat', sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;

}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
    
}

.result {
    font-size: 40px;
    color: #d161ed;
    font-family: 'Open Sans', sans-serif;
    
}
.result > p {
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 100;
    font-size: 35px;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    margin: 0 15px;
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    background: #d8cbc9;
    cursor: pointer;
}

#action-message {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

img {
    height: 10rem;
    font-size: 3.75em;
}